<div class="main-wrapper">
    <header class="header header--bg">
      <div class="container-fluid">
        <nav class="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="#"><img height="60" width="60" src="../assets/images/aiyo_ic.png" /></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav pull-right">
              <li><a href=".service">HOME</a></li>
              <li><a href="#">SERVICES</a></li>
              <li><a href="#">FEATURES</a></li> 
              <li><a href="#">PORTFOLIO</a></li> 
              <li><a href="#">BLOG</a></li> 
              <li><a href="#">CONTACT</a></li> 
            </ul>
          </div>
        </nav>
        <div class="header__content text-center">
          <h1 class="header__content__title">EXPLORE YOUR CREATIVITY</h1>
          <p class="header__content__paragraph">Aiyo allows students to performs some Jugadu tasks, sell there unique talents or rent there things to earn money</p>
          <a class="button button--margin-right button--hover" href="#">LARN MORE</a>
          <a class="button button--hover" href="#" >PURCHASE</a>
        </div>
      </div>
    </header>
    <app-why></app-why>
    <app-services></app-services>
    <app-contact></app-contact>
    <app-about></app-about>
    <app-letsgo></app-letsgo>
   <!-- <app-feature></app-feature> -->
    <app-team></app-team>
    <app-video></app-video>
    <app-work></app-work>
    <app-footer></app-footer>
</div>