<section class="about why--bg">
      <div class="container">
        <div class="page-section">
          <div class="text-center">
            <h2 class="page-section__title">WHY TO USE AIYO ?</h2>
          </div>
          <div class="row gutters-50">
            <div class="about--narrow">
              <div class="col-md-6">
                <img id="mob" src="../assets/images/mobile_bg.png" alt="mobile background" />
              </div>
              <div class="col-md-6 about__extra-padding">
              <ul>
                <li class="about__content-title">Choose your own hours to work</li>
                <li class="about__content-title">choose your own rate</li>
                <li class="about__content-title">BECOME YOUR OWN BOSS</li>
                <li class="about__content-title">Safe and secure transactions</li>
                <li class="about__content-title">In-app messaging</li>
                <li class="about__content-title">Accept/Decline jobs on the app</li>
              </ul>
              </div>
              </div>
            </div>
          </div>
        </div>

      </section>